.filter-form {
    width: 100%;
}

.filter-full-width {
    width: 100pt;
}

td {
    padding-right: 8px;
}


.right-align {
  text-align: right;
}

.in_suffix {
  margin-left: 4px;
}

.filter-label {
  padding: 12px;
}
