<form class="filter_form">
  <mat-label class="filter-label">Z-SIGNAL</mat-label>
  <table class="filter-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field appearance="fill" class="filter-full-width">
          <mat-label>Upper</mat-label>
          <input matInput class="right-align">
          <span matSuffix class="in_suffix">mm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="filter-full-width">
          <mat-label>Lower</mat-label>
          <input matInput class="right-align">
          <span matSuffix class="in_suffix">mm</span>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-label class="filter-label">SCANLINE POSITION</mat-label>
  <table class="filter-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field appearance="fill" class="filter-full-width">
          <mat-label>Start</mat-label>
          <input matInput class="right-align">
          <span matSuffix class="in_suffix">mm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="filter-full-width">
          <mat-label>End</mat-label>
          <input matInput class="right-align">
          <span matSuffix class="in_suffix">mm</span>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
