<div class="container mat-elevation-z8">
        <h3>Laser Parameters</h3>
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
            <mat-label>Seam Length</mat-label>
            <input  matInput class="right-align">
            <span matSuffix class="in_suffix"> mm</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Speed</mat-label>
            <input matInput class="right-align">
            <span matSuffix class="in_suffix"> m/min</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Step Size OCT-Tester</mat-label>
            <input matInput class="right-align">
            <span matSuffix class="in_suffix"> μm/Step</span>
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary">Save</button>
</div>