<div class="container mat-elevation-z8">
    <h3>OCT Parallel Scan Parameters</h3>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill">
        <mat-label>Frequency</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">kHz</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Points per Line</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix"></span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Line Length</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">mm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Extend Points</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix"></span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>lag (xy)</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix"></span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Start Coordinate X</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">mm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>End Coordinate X</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">mm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Start Coordinate Y</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">mm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>End Coordinate Y</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">mm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Jump Speed</mat-label>
        <input matInput class="right-align">
        <span matSuffix class="in_suffix">mm/μs</span>
    </mat-form-field>
</div>