<mat-drawer-container>
    <mat-drawer #drawer class="sidenav" mode="side" opened="false">
        <div layout="column">
          <app-filter></app-filter>
        </div>
        
        
    </mat-drawer>
  
    <div class="sidenav-content">
        <div layout="column" class="content-col">

          <div flex layout_md="row">
            

            <mat-stepper [linear]="isLinear" #stepper selectedIndex="1">
              <mat-step [completed]="true">
                <ng-template matStepLabel>DATA ENTRY</ng-template>
                <app-dataentry></app-dataentry>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>DATABASE</ng-template>
                <app-data></app-data>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>ANALYSIS</ng-template>
                <app-analysis></app-analysis>
              </mat-step>
            </mat-stepper>

          </div>
        </div>
        
        
    
    </div>
  
  </mat-drawer-container>

<router-outlet></router-outlet>

