  .sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
  }
  
  .sideButton {
    text-align: center;
  }

  .sidenav {
    padding: 20px;
  }

  .content-col {
    width: 100%;
  }