.sidenav-content {
  display: flex;
  justify-content: center;
}
  
  .sideButton {
    text-align: center;
  }

  .sidenav {
    padding: 20px;
    display: flex;
  }

  .content-col {
    width: 100%;
  }

.mat-drawer-container {
  flex: 1 1;
  height: 100%;
}

::ng-deep .mat-step {
  background-color: #303030;
}
